{% extends "base.html" %}
{% block title%}basic geometry{%endblock%}
<div class="container">
    {% block content %}
    <h1 style="text-align: center;">fill in the boxes if you hit solve an it sends you back here then you may not have filled in all of the boxes or your problem is imposibe</h1>
    <form method="POST">
        <h3 align = 'center'>sphere</h3>
        

   <div class="rectangle" align = 'center'>
        
    <div>
            <p>radius</p>
            <label for="radius"  ></label>
            <input style="width: 2cm;"
             type="text" 
             class="sides"
             id="radius" 
             name="radius" 
             placeholder="">
             

             
    </div>
    
<br>
<button style="margin-left: 47%;" type="submit" class="btn btn-primary" >solve</button>

</form>
{% endblock %}
</div>